@import '../../index'

.portfolio-grid
  display: grid
  grid-template-columns: repeat(2, calc(50% - 10px))
  grid-gap: 20px

  @media #{$break-phone}
    grid-template-columns: 100%

  &-item

    &--heading
      display: flex
      margin-bottom: 10px

      &-work
        display: inline
        margin: 0 5px 0 0
        @include label

      &-title
        margin: 0
        display: inline
        font-weight: 700

    &--screenshot
      margin: 0
      display: block

      img
        max-width: 100%
        border-radius: 5px



    

